body { font-family: Helvetica,Arial,sans-serif; font-size: smaller;}
#header h1 { display: block; margin: 0;}
#header { border-bottom: 2px solid darkgreen; padding: 5px; padding-bottom: 1px; background-color: lightgreen;}
#wrapper { margin-left: auto; margin-right: auto; width: 800px;}
#content { margin: 10px; }
pre { font-size: larger;}
ul { padding-left: 20px;}
#make-form { margin: 20px; text-align: center; margin-right: 80px;}
#make-form input { font-size: larger;}

dl {
    padding: 0.5em;
}
dt {
    float: left;
    clear: left;
    width: 70px;
    font-weight: bold;
    overflow: hidden;
}
dt:after { content: ":"; }
dd {
    margin: 0 0 0 80px;
    padding: 0 0 0.5em 0;
    white-space: pre;
}