<html>
  <head>
    <title>{% block title %}PostBin - Debug web hooks{% endblock %}</title>
    <link href="/static/style.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <h1>PostBin</h1>
      </div>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>
    <script type="text/javascript">
    var uservoiceJsHost = ("https:" == document.location.protocol) ? "https://uservoice.com" : "http://cdn.uservoice.com"
    document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))
    </script>
    <script type="text/javascript">
    UserVoice.Tab.show({ 
      key: 'postbin',
      host: 'postbin.uservoice.com', 
      forum: 'general', 
      alignment: 'left', // 'left', 'right'
      background_color:'lightgreen', 
      text_color: 'black', // 'white', 'black'
      hover_color: '#06C',
      lang: 'en' // 'en', 'de', 'nl', 'es', 'fr'
    })
    </script>
  </body>
</html>