{% extends 'base.html' %}
{% block title %}PostBin - {{ bin.name }}{% endblock %}
{% block content %}
  <p>All POST requests to this URL are logged for you to see here, sorted newest to oldest.</p>
  <ul>
    {% for post in posts %}
    <li id="{{ post.id }}">
      <div>
        <a href="#{{ post.id }}" title="A unique ID for this request">#{{ post.id }}</a> @ 
        {{ post.created|time:"H:i" }} {{ post.created|date:"M d Y" }}
        --
        {{ post.remote_addr }} 
        {% if post.query_string %}?{{ post.query_string }}{% endif %}
        <!-- Headers:
             {% for h in post.headers.items %}{{ h.0 }}: {{ h.1 }}
             {% endfor %}
          -->
      </div>
      <dl>
        {% for part in post %}
          <dt title="{{ part.0 }}">{{ part.0 }}</dt>
          <dd>{{ part.1 }}</dd>
        {% endfor %}
      </dl>
    </li>
    {% endfor %}
  </ul>
  <form action="?test" method="post">
    <input type="hidden" name="foo" value="bar" />
    <input type="hidden" name="bar" value="baz" />
    <input type="hidden" name="bar" value="baz two" />
    <input type="submit" value="Test Post" />
  </form>
  <a href="/">Back Home</a>
{% endblock %}
