{% extends 'base.html' %}
{% block title %}PostBin - {{ bin.name }}{% endblock %}
{% block content %}
  <p>All POST requests to this URL are logged for you to see here, sorted newest to oldest.</p>
  <ul>
    {% for post in posts %}
    <li id="{{ post.id }}">
      <div>
        <a href="#{{ post.id }}" title="A unique ID for this request">#{{ post.id }}</a> @ 
        {{ post.created|time:"H:i" }} {{ post.created|date:"M d Y" }}
        --
        {{ post.remote_addr }} 
        {% if post.query_string %}?{{ post.query_string }}{% endif %}
        <!-- Headers:
             {% for h in post.headers.items %}{{ h.0 }}: {{ h.1 }}
             {% endfor %}
          -->
      </div>
      <table>
        {% for part in post %}
          <tr>
          <td title="{{ part.0 }}" valign="top" align="right" class="key">{{ part.0 }}</td>
          <td>
            {% if part.1.file_digest %}
            <img src="http://www.stdicon.com/{{ part.1.file_extension|default:"text/plain" }}?size=16&default=http%3A%2F%2Fwww.stdicon.com%2Ftext%2Fplain" style="vertical-align: middle; margin-right: 2px; margin-top: -4px;" /><pre>{{ part.1.file_name }}</pre> ({{ part.1.file_size }}KB)<br />
            <code>{{ part.1.file_digest}}</code>
            {% else %}
              <pre>{{ part.1|escape }}</pre>
            {% endif %}
          </td></tr>
        {% endfor %}
      </table>
    </li>
    {% endfor %}
  </ul>
  <form action="?test" method="post">
    <input type="hidden" name="foo" value="bar" />
    <input type="hidden" name="bar" value="baz" />
    <input type="hidden" name="bar" value="baz two" />
    <input type="submit" value="Test Post" />
  </form>
  <a href="/">Back Home</a>
{% endblock %}
