{% extends 'base.html' %}
{% block content %}
  <p>PostBin lets you debug webhooks by capturing and logging the asynchronous requests made when events happen. Make a PostBin and register the URL with a webhook triggerer. All POST requests to the URL are logged for you to see when you browse to that URL.</p>
  <form id="make-form" method="post">
  <input type="submit" value="Make a PostBin">    
  </form>
  <div style="float: right; font-size: 10px; text-align: right;">
    <a href="http://github.com/progrium/postbin">Source Code</a><br/>
    <a href="/blacklist">Blacklist</a>
  </div>
{% endblock %}